body{
    margin-left: 10px;
    background-color: #5F040F;
    text-align: center;
    color: #FFCE65;
}
.primeiro{
    text-align: right;
}
#young{
    text-align: center;

}
.navbar{
    margin-left: 20px;
}